{{define "comments_thread.tmpl"}}<section id="comments" class="comments-section">
  <h2>Comments</h2>
  {{if .Rows}}
  <ul id="comments-list" class="comments-list">
    {{range .Rows}}{{template "comment.tmpl" .}}{{end}}
  </ul>
  {{else}}
  <ul id="comments-list" class="comments-list">
    <li class="hint comments-empty">No comments yet. Be the first.</li>
  </ul>
  {{end}}
  {{template "comment_form.tmpl" .}}
</section>
{{end}}
